<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>
   <appender name="console" class="org.apache.log4j.ConsoleAppender">
      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value=" %d{HH:mm:ss,SSS} %-40.40c %-5p - %m%n" />
      </layout>
   </appender>
   
   <appender name="fileout" class="org.apache.log4j.RollingFileAppender">
      <param name="File" value="C:/TrexCP/Logs/Methods/BOFUtilities.log"/>
      <param name="Append" value="true"/>
      <param name="MaxFileSize" value="1000KB"/>
      <param name="MaxBackupIndex" value="5"/>
      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="%d{yyyy-MM-dd, HH:mm:ss,SSS} %-5p %-50.50c - %m%n"/>
      </layout>
   </appender>
   
   <logger name="com.triteksol">
      <level value="ALL"/>
   </logger>
   <root>
      <level value="INFO" />
      <appender-ref ref="console" />
      <appender-ref ref="fileout" />
   </root>
</log4j:configuration>